.family-roboto {
  font-family: 'Roboto';
}
.family-museo {
  font-family: 'Museo Sans Cyrl';
}
.scin {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.display-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
